.collections {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0;
    /* top: 40px; */
    /* margin-bottom: 24px; */
    row-gap: 24px;
    position: inherit;
    /* top: -40px; */

}

.container {
    display: flex;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-bottom: 20px;
}

.header {
    margin: 0 auto;
    padding: 15px;
    color: white;
    /* background: rgba(0, 0, 0, .3); */
    font-weight: 400;
    margin: 0 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header_content {
    font-size: large;
    text-shadow: 0 0 16px #0000003d;
}

.thumbnail {
    background-image: url('https://muhammadmubeen17.github.io/simple-portfolio-website/images/Section-3-image-1.jpg');
}

.title {
    text-shadow: 0 0 16px #0000003d;
}

.card_title {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px 5px rgba(50, 50, 50, .1);
}

.vendor {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.106);
    border-radius: 50%;
    object-fit: contain;
    padding: 3px;
    margin-right: 10px;
}

.project {
    text-align: left;
    padding-left: 5px;
}

.footer {
    background: red;
    height: 100vh;
}

@media screen and (max-width: 992px) {
    .collections {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 769px) {
    .header {
        margin: 0 5%;
    }
}

@media screen and (max-width: 426px) {
    .collections {
        grid-template-columns: 100%;
        width: 95%;
    }
}