@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #fcfcfc;
    padding: 20px;
    align-items: center;
}

.navbar_logo {
    width: 40px;
    font-weight: bold;
}

.logo_container {
    text-decoration: none;
}

.logo {
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    letter-spacing: .01em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .logo {
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    letter-spacing: .01em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 2px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    padding: 5px;
} */

.logo_last {
    color: #2481cc;
}

.navbar_menus {
    display: inline;
    text-align: right;
    list-style-type: none;
    vertical-align: middle;
}

.navbar_menus ul {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 2%;
}

.navbar_menus ul li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
}

.link {
    height: 100%;
    text-decoration: none;
    color: black;
    transition: ease .2s;
    text-shadow: none;
}