.footer {
    bottom: 0;
    padding: 20px;
    background: #3a3a3a;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react_small {
    width: 18px;
}