@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@8s00&display=swap');

.hero_container {
    font-family: Poppins, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: white;
}

.avatar {
    border-radius: 50%;
    /* border: 6px solid white; */
}

.bg_vid {
    width: 100%; 
    height: 100vh; 
    min-height: 100%; 
    object-fit: cover;
    position: fixed;
}

.container_overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.internal_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    color: white;
}

.status {
    display: block;
    /* text-align: center; */
}

.title {
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 48px;
    margin: 0;
    line-height: .5;
}


.subtitle {
    color: white;
    font-weight: 300;
    font-size: 21px;
    margin: 0;
    line-height: 1;
}

.status h2 {
    margin: 12px 0;
    font-weight: 800px;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.button {
    background: white;
    font-size: 16px;
    margin-top: 50px;
    border: none;
    font-weight: 700;
    padding: 15px 45px;
    cursor: pointer;
}

.blip {
    animation: blip 1s step-end;
    animation-iteration-count: infinite;
}

.content {
    font-family: 'Raleway', sans-serif;
    background: white;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.content:nth-child(2n - 1) {
    background: rgb(245 245, 245);
}

.content_container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* background-image: url('https://preetheme.com/html/cwt/cwt/assets/img/hire-area.jpg'); */

}

.content_container h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 12px 0;
    text-transform: capitalize;
}

.content_container p {
    margin: 50px 0;
}

.socmeds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.socmeds img {
    width: 30px;
    height: auto;
}

.work_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.work_container p {
    display: flex;
    flex-direction: row;
    margin: 0;
}   

.work_container h4 {
    margin: 0;
    margin-bottom: 16px;
}

.activity_content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 0;
    gap: 30px;
}

.work_item_head {
    display: flex;
    align-items: center;
    height: 100%;
    background: #777777;
    padding: 0px 30px;
    color: white;
    font-size: 24px;
}

.sub {
    margin: 0 !important;
    color: #777777;
}

.work_item_content {
    position: relative;
    padding: 20px;
    z-index: 1;
    transition: all .3s ease;
}

.work_item_content p {
    font-weight: 300;
}

.work_item_content:hover {
    color: white;
}

.work_item_content:hover .bg_interactive {
    width: 100%;
}

.bg_interactive {
    position: absolute;
    top: 0;
    left: 0;
    background: #888888;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all .3s ease;
}

.container_work {
    background-image: url(https://preetheme.com/html/cwt/cwt/assets/img/hire-area.jpg);
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.summary_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: 70%;
}

.summary h2 {
    font-size: 1.75rem;
    text-align: left !important;
}

.summary_items {
    display: flex;
    flex-direction: column;
}

.summary_items_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* border-bottom: 1px solid #d3d3d3; */
    padding: 16px 0;
    /* border-left: 2px solid #d3d3d3; */
    padding-left: 16px;
}

.summary_details {
    display: block;
    /* border-bottom: 1px solid #d3d3d3; */
}

.summary_logo {
    width: 90px;
    height: auto;
    margin-right: 24px;
}

.summary_items_container h2 {
    font-size: 1.3125rem !important;
    margin-bottom: 0;
    margin-top: 0;
}

.summary_items_container p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1.8;
}

.summary_items_container div {
}

.summary_desc {
    color: #7c7c7c;
}

@keyframes blip {
    0% { opacity: 0; }
    50% { opacity: 1; } 
    0% { opacity: 0; }    
}
