.collections {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
    top: 40px;
    /* padding: 2.7%; */
}

.header {
    margin: 0 auto;
    padding: 15px;
    color: white;
    /* background: rgba(0, 0, 0, .3); */
    font-weight: 400;
    margin: 0 25%;
}

.subtitle {
    font-size: large;
    text-shadow: 0 0 16px #0000003d;
}

.title {
    text-shadow: 0 0 16px #0000003d;
}

.subheader {
    color: white;
    margin: 0;
    /* margin: 25px 80px; */
}

.footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: #1f203a;
    color: white;
    text-align: center;
}

.react_small {
    width: 18px;
}

.cok {
}

.body_content {
    /* padding-top: 65px; */
    text-align: center;
    min-height: 70vh;
}