.collections {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
    top: 40px;
    /* padding: 2.7%; */
    row-gap: 24px;
    /* padding-bottom: 16px; */
    padding: 16px 0;
}

.header {
    margin: 0 auto;
    padding: 15px;
    color: white;
    /* background: rgba(0, 0, 0, .3); */
    font-weight: 400;
    margin: 0 25%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    font-size: large;
    text-shadow: 0 0 16px #0000003d;
}

.title {
    text-shadow: 0 0 16px #0000003d;
}

.footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: #1f203a;
    color: white;
    text-align: center;
}

.body_content {
    /* padding-top: 65px; */
    text-align: center;
    min-height: 70vh;
}

@media screen and (max-width: 992px) {
    .collections {
        grid-template-columns: 50% 50%;
        width: 95%;
    }
}

@media screen and (max-width: 769px) {
    .header {
        margin: 0 5%;
    }
}